

/* 基本樣式 */
.navbar {
    background-color: #f8f9fa;
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #000;
    font-size: 1.2rem;
    margin-right: 1rem;
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* 動畫效果 */
.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width 0.3s ease-in-out;
}

/* 滑鼠懸停效果 */
.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

/* 按鈕動畫 */
.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.navbar-toggler:hover {
    transform: rotate(90deg);
}

/* 導覽列的背景顏色漸變 */
.navbar {
    animation: backgroundColorChange 5s infinite alternate;
}

.body {
    overflow-y: hidden;
}

@keyframes backgroundColorChange {
    0% {
        background-color: #f8f9fa;
    }
    100% {
        background-color: #e9ecef;
    }
}
body{
    background-color: #eee;
}
img{
    width: 100%;
}
.col-12{
    padding: 5px;
}
.box{
    background-color: white;
    border: 1px solid black;
    height: 100%;
    /* filter: grayscale(1); */
    cursor: pointer;
    transition: .3s;
}
.box:hover{
    /* filter: grayscale(0); */
    background-color: lavender;
}
.textBox{
    padding: 10px;
}
.offcanvas-body {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.offcanvas-body::-webkit-scrollbar {
    display: none;
}

.offcanvas-header{
    background-color: lightgray;
}
.offcanvas {
    padding: 0;
}
.remark {
    text-indent: -2.5em;
    margin-bottom: 20px;
    padding-left: 2.5em;
    word-wrap: break-word;
    max-width: 100%;
    text-align: justify;
}

.introduce {
    text-indent: -2.5em;
    margin-bottom: 20px;
    padding-left: 2.5em;
    word-wrap: break-word;
    max-width: 100%;
    text-align: justify;
}
/* end */
.hidden {
    display: none;
}
.editstate {
    margin-left: 20px;
    margin-top: 20px;
}

.insert_title {
    text-align: center !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-size: 2rem;
    color: #333;
}
/* 修改按鈕樣式 */
.edit-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #FFDEAD;
    color: #000;
    border: none;
}

.edit-btn:hover {
    background-color: #f9ce8e;
    color: #000;
}
.edit-btn:focus {
    outline: none;
    box-shadow: none;
}

/* 刪除按鈕樣式 */
.delete-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #ffb300;
    
    color: #000;
    border: none;
}

.delete-btn:hover {
    background-color: #ff7043;
    color: #000;
}

.btn-primary.save-btn {
    background-color: #89b82c;
    color: #000;
}

.btn-primary.save-btn:hover {
    background-color: #acac01;
}